<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Pizzeria : Home Page</title>
    <link
      rel="shortcut icon"
      href="/images/favicon.png"
      type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet" />
    <link
      href="/stylesheets/style.css"
      rel="stylesheet" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html,
      body {
        width: 100%;
        overflow-x: hidden;
        height: 100%;
      }
      .colG {
        background-color: #4caf50;
        width: 100%;
        color: white;
      }
      .colR {
        background-color: #f44336;
        width: 100%;
        color: white;
      }
      .uppercase-fix {
        cursor: pointer;
        margin-bottom: 4px;
        text-transform: uppercase !important;
      }
      .notification {
        position: fixed;
        top: 60px;
        right: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        z-index: 1000;
        opacity: 0.8;
        transition: opacity 0.3s ease;
      }

      .notification.success {
        background-color: #4caf50;
      }

      .notification.error {
        background-color: #f44336;
      }
      .mrr {
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <div
        class="w-full relative h-screen"
        id="page1">
        <div
          class="flex bg-yellow-50 justify-between items-center w-full h-20"
          id="navbar">
          <div class="flex justify-start items-center w-1/2 h-full nav1">
            <img
              class="w-48 h-20 object-contain mx-2 p-2"
              src="/images/logo.png"
              alt="LogoIMage" />
          </div>
          <div
            class="w-1/2 h-full sm:flex justify-evenly items-center text-center nav2 hidden">
            <a
              class="text-lg font-semibold"
              href="/"
              >Home</a
            >
            <a
              class="text-lg font-semibold"
              href="/about"
              >About</a
            >
            <a
              class="text-lg font-semibold"
              href="/orders"
              >Orders</a
            >
            <a
              class="text-lg font-semibold"
              href="/prof"
              >Profile</a
            >
            <a
              class="text-lg font-semibold"
              href="<%= username ? '/logout' : '/login' %>">
              <%= username ? 'Logout' : 'Login' %>
            </a>
          </div>
          <a
            class="text-lg px-4 py-2 mrr flex items-center bg-orange-500 rounded-full font-semibold"
            href="/cart">
            <span
              id="cartCounter"
              class="text-white font-bold pr-2"
              ><%= session.cart ? session.cart.totalQty : '' %></span
            >
            <i class="text-white ri-shopping-cart-line"></i>
          </a>
          <div class="sm:hidden bars">
            <i
              id="menu1"
              class="text-3xl p-4 ri-menu-line transition-all duration-900 ease-in-out"></i>
            <i
              id="menu2"
              class="hidden text-3xl p-4 ri-close-line transition-all duration-900 ease-in-out"></i>
          </div>
        </div>
        <div
          id="nav-menu"
          class="w-[90%] z-20 transition-all duration-900 ease-in-out absolute left-[100%] rounded-lg bg-yellow-50 h-50 flex justify-center shadow-2xl items-center flex-col p-2 m-4 sm:hidden">
          <a
            class="text-lg p-2 font-semibold"
            href="/"
            >Home</a
          >
          <a
            class="text-lg p-2 font-semibold"
            href="/about"
            >About</a
          >
          <a
            class="text-lg p-2 font-semibold"
            href="/orders"
            >Orders</a
          >
          <a
            class="text-lg p-2 font-semibold"
            href="/prof"
            >Profile</a
          >
          <a
            class="text-lg font-semibold"
            href="<%= username ? '/logout' : '/login' %>">
            <%= username ? 'Logout' : 'Login' %>
          </a>
        </div>
        <% if (messages.success && messages.success.length > 0) { %>
        <div class="colG p-4"><%= messages.success %></div>
        <% } %> <% if (messages.error && messages.error.length > 0) { %>
        <div class="colR p-4"><%= messages.error %></div>
        <% } %>
        <div
          id="page1-container1"
          class="w-full sm:flex justify-between items-center h-[calc(100%-80px)] bg-[#fddede]">
          <div
            class="sm:w-1/2 sm:h-full h-1/2 p-5 flex items-center justify-center one">
            <div>
              <h6 class="sm:text-xl text-lg mt-2 font-semibold">
                <% if (username) { %> Are you Hungry?
                <span
                  onclick="location.href='/prof'"
                  class="uppercase-fix"
                  ><%= username %></span
                >
                <% } else { %> Are You Hungry?
                <a
                  href="/login"
                  class="uppercase-fix"
                  >Login and Order Now...</a
                >
                <% } %>
              </h6>

              <h1 class="sm:text-7xl text-4xl mt-2 font-semibold">
                Don't Wait!
              </h1>
              <br />
              <a
                href="#page2"
                class="w-40 h-10 mt-8 p-4 bg-orange-500 text-center rounded-full">
                Order Now
              </a>
            </div>
          </div>
          <div
            class="sm:w-1/2 sm:h-full relative h-1/2 flex items-center justify-center p-4 two">
            <img
              class="object-contain left-9 absolute w-[90%] h-[90%]"
              src="/images/hero-pizza.png"
              alt="Hero hero-pizza" />
          </div>
        </div>
      </div>
      <div
        class="w-full h-screen relative bg-yellow-50"
        id="page2">
        <h2 class="text-center text-2xl font-semibold p-2">All Pizzas</h2>
        <div
          id="page2-container1"
          class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4 w-full col-span-4 p-8 min-h-full bg-white">
          <% pizzas.forEach(function(pizza){ %>
          <div class="flex flex-col items-center justify-center">
            <img
              class="w-56 h-56 object-cover"
              src="/images/<%= pizza.image %>"
              alt="Pizza Img" />
            <p class="pt-3 text-lg font-medium"><%= pizza.name %></p>
            <button
              class="w-auto p-4 text-center flex items-center justify-center h-10  rounded-full mt-3">
              <%= pizza.size %>
            </button>
            <div class="flex mt-4 justify-between items-center gap-4">
              <p class="text-lg font-semibold">₹<%= pizza.price %></p>
              <button
                data-pizza="<%= JSON.stringify(pizza)%>"
                id="AddToCart"
                class="w-20 h-10 bg-gray-100 font-semibold border-red-500 rounded-full">
                <i class="ri-add-line"></i> Add
              </button>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      type="module"
      src="/javascripts/script.js"></script>
  </body>
</html>
