<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link
      rel="stylesheet"
      href="/stylesheets/style.css" />
    <link
      rel="shortcut icon"
      href="/images/favicon.png"
      type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet" />
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html,
    body {
      width: 100%;
      overflow-x: hidden;
      height: 100%;
    }
    .colG {
      background-color: #4caf50;
      width: 100%;
      color: white;
    }
    .colR {
      background-color: #f44336;
      width: 100%;
      color: white;
    }
  </style>
  <body>
    <div id="main">
      <div
        class="w-full relative h-screen"
        id="page1">
        <div
          class="flex bg-yellow-50 justify-between items-center w-full h-20"
          id="navbar">
          <div class="flex justify-start items-center w-1/2 h-full nav1">
            <img
              class="w-48 h-20 object-contain mx-2 p-2"
              src="/images/logo.png"
              alt="LogoIMage" />
          </div>
          <div
            class="w-1/2 h-full sm:flex justify-evenly items-center text-center nav2 hidden">
            <a
              class="text-lg font-semibold"
              href="/"
              >Home</a
            >
            <a
              class="text-lg font-semibold"
              href="/orders"
              >Orders</a
            >
            <a
              class="text-lg font-semibold"
              href="/logout"
              >Logout</a
            >
          </div>
          <div class="sm:hidden bars">
            <i
              id="menu1"
              class="text-3xl p-4 ri-menu-line transition-all duration-900 ease-in-out"></i>
            <i
              id="menu2"
              class="hidden text-3xl p-4 ri-close-line transition-all duration-900 ease-in-out"></i>
          </div>
        </div>
        <div
          id="nav-menu"
          class="w-[90%] transition-all duration-900 ease-in-out absolute left-[100%] rounded-lg bg-yellow-50 h-50 flex justify-center shadow-2xl items-center flex-col p-2 m-4 sm:hidden">
          <a
            class="text-lg p-2 font-semibold"
            href="/"
            >Home</a
          >
          <a
            class="text-lg p-2 font-semibold"
            href="/orders"
            >Orders</a
          >
          <a
            class="text-lg p-2 font-semibold"
            href="/logout"
            >Logout</a
          >
        </div>
        <% if (messages.success && messages.success.length > 0) { %>
        <div class="colG p-4"><%= messages.success %></div>
        <% } %> <% if (messages.error && messages.error.length > 0) { %>
        <div class="colR p-4"><%= messages.error %></div>
        <% } %> <% if(session.cart){ %>
        <div
          class="w-full flex items-center justify-center flex-col min-h-[calc(100%-80px)] bg-[#fddede]"
          id="page1-container2">
          <h1 class="text-3xl mt-3 font-semibold text-left">Order Summary</h1>

          <% for(let pizza of Object.values(session.cart.items)) {%>

          <div
            class="sm:flex block min-w-[50%] p-5 items-center mt-6 border-t-2 border-b-2 border-gray-500 justify-between">
            <div class="sm:flex block flex-row items-center justify-center">
              <img
                class="w-32 mt-2 h-32 sm:ml-0 ml-5"
                src="/images/<%= pizza.item.image%>"
                alt="Pizza" />
              <div class="ml-5">
                <h2 class="text-center text-lg font-semibold">
                  <%= pizza.item.name%>
                </h2>
                <p class="text-gray-500 text-center font-semibold">
                  <%= pizza.item.size%>
                </p>
              </div>
            </div>
            <h4 class="text-center text-lg font-semibold">
              <%= pizza.qty%>Pcs
            </h4>
            <p class="text-center text-lg font-semibold">
              ₹ <%= pizza.item.price * pizza.qty%>
            </p>
          </div>
          <% } %>
          <h1
            class="sm:text-xl mt-6 text-left text-lg font-semibold text-gray-800">
            Total Amount:
            <span class="text-orange-600 font-bold"
              >₹<%= session.cart.totalPrice %></span
            >
          </h1>
          <div class="form-div flex flex-col items-center justify-center">
            <form
              action="/orders"
              method="post">
              <div class="mt-4 flex flex-col items-center">
                <input
                  name="customerId"
                  class="w-48 h-8 px-6 py-4 focus:ring-2 focus:ring-orange-500 rounded-lg mt-2 border-2 border-gray-300 bg-white shadow-md transition-all duration-300 focus:outline-none focus:border-orange-400 text-gray-700 placeholder-gray-500 hover:bg-gray-50"
                  type="text"
                  placeholder="Create an Customer Id" />
                <input
                  name="phone"
                  class="w-48 h-8 px-6 py-4 focus:ring-2 focus:ring-orange-500 rounded-lg mt-2 border-2 border-gray-300 bg-white shadow-md transition-all duration-300 focus:outline-none focus:border-orange-400 text-gray-700 placeholder-gray-500 hover:bg-gray-50"
                  type="tel"
                  placeholder="Enter Your Phone Number..." />
                <input
                  name="address"
                  class="w-48 h-8 px-6 py-4 focus:ring-2 focus:ring-orange-500 rounded-lg mt-2 border-2 border-gray-300 bg-white shadow-md transition-all duration-300 focus:outline-none focus:border-orange-400 text-gray-700 placeholder-gray-500 hover:bg-gray-50"
                  type="text"
                  placeholder="Enter your address here..." />
              </div>
              <div class="mt-4 flex items-center justify-center">
                <% if (session.user) { %>
                <button
                  class="bg-orange-600 p-2 text-white font-bold rounded-lg">
                  Order Now
                </button>
                <% } else { %>
                <button
                  onclick="location.href='/login'"
                  class="bg-orange-600 p-2 text-white font-bold rounded-lg">
                  Login to Order
                </button>
                <% } %>
              </div>
            </form>
          </div>
        </div>
        <%} else{ %>
        <div
          id="page1-container1"
          class="w-full h-[calc(100%-80px)] flex items-center flex-col justify-center bg-[#fddede]">
          <div class="w-[90%] flex flex-col items-center justify-center h-full">
            <h1 class="text-2xl font-semibold mb-8">Cart Empty 😶</h1>
            <img
              class="w-full h-[70%] object-contain"
              src="/images/empty-cart.png"
              alt="cart" />
            <button
              onclick="window.location.href='/'"
              class="w-40 h-10 mt-8 bg-orange-500 text-center rounded-full">
              Go Back
            </button>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
